<div *ngIf="course" class="course-card" [ngClass]="cardClasses()">
  <div class="course-title" [ngStyle]="cardStyles()">
    {{ index }} {{ course.description }}
  </div>

  @if (course.id == 1) {
    <h2>Course with ID 1 detected!</h2>
  } @else if (isImageVisible()) {
    <img [src]="course.iconUrl" width="300" alt="Angular Logo" />
  } @else {
    <h2>No image available!</h2>
  }

  <!-- <img
    *ngIf="isImageVisible(); else noImage"
    [src]="course.iconUrl"
    width="300"
    alt="Angular Logo"
  />
  <ng-template #noImage>
    <p>No image is availale.</p>
  </ng-template> -->

  <div class="course-description">{{ course.longDescription }}</div>

  <button (click)="onCourseViewed()">View Course</button>
</div>
