<div *ngIf="course" class="course-card" [ngClass]="cardClasses()">
  <div class="course-title" [ngStyle]="cardStyles()">
    {{ index }} {{ course.description }}
  </div>

  @if (course.id == 1) {
    <h2>Course with ID 1 detected!</h2>
  } @else if (isImageVisible()) {
    <img [src]="course.iconUrl" width="300" alt="Angular Logo" />
  } @else {
    <h2>No image available!</h2>
  }

  <!-- <img
    *ngIf="isImageVisible(); else noImage"
    [src]="course.iconUrl"
    width="300"
    alt="Angular Logo"
  />
  <ng-template #noImage>
    <p>No image is availale.</p>
  </ng-template> -->

  <div class="course-description">{{ course.longDescription }}</div>

  <ng-container class="course-category">
    @switch (course.category) {
      @case ("BEGINNER") {
        <div class="category">Beginner</div>
      }
      @case ("INTERMEDIATE") {
        <div class="category">Intermediate</div>
      }
      @case ("ADVANCED") {
        <div class="category">Advanced</div>
      }
      @default {
        <div class="category">Unknown</div>
      }
    }
  </ng-container>

  <!-- <div class="course-category" [ngSwitch]="course.category">
    <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
    <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
    <div class="category" *ngSwitchDefault>All levels</div>
  </div> -->

  <button (click)="onCourseViewed()">View Course</button>
</div>
